//color
$text-color: #3C3F34;
$green: #87B670;
$transparent: transparent;
$bkg-green-grad: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
$white: #FFFFFF;

//size
$desktop-width: 1599px;
$tablet-mid-width: 1350px;
$tablet-width: 767px;
$mobile-tablet-mid-width: 573px;
$mobile-mid-width: 450px;
$mobile-width: 375px;